<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="Title" content="전혜린 홈페이지">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전혜린 홈페이지</title>

    
    <link rel="stylesheet" href="../Content/Main.css">
</head>
<body>
    <h1><a href="Main.html">HR HOME</a>
        <div class="title_d">열정만 가득한 나만의 홈페이지</div>
    </h1>
    <header>
        <!-- 가로형 메뉴바 -->
        <nav class="active">
        <ul class="menu1">
                <li><a href="전혜린.html">전혜린</a></li>
                <li><a href="MBTI.html">MBTI</a></li>
                <li><a href="기타.html">기타</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrap">
    <section class="backimg">
        <table>
            <tr>
                <tb>혜린이의 홈페이지에 오신 것을 환영합니다.</tb>
            </tr>
        </table>
        <br/>
    </section>

    <footer>
        <nav>
            <a href="https://blog.naver.com/wjs3673">Blog</a>
            <a href="https://github.com/wjs3673/Portfolio">Github</a>
        </nav>
        <p>
            <span>저자 : 전혜린</span><br/>
            <span>이메일 : hrjeon@Mostisoft.com</span><br/>
            <span>Copyright 2022. hrjeon. All Rights Reserved.</span><br/>
        </p>
    </footer>
    </div>
</body>
</html>