<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="Title" content="전혜린 홈페이지">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전혜린 홈페이지</title>

    
    <link rel="stylesheet" href="../Content/Main.css">
    <link rel="stylesheet" href="../Content/전혜린.css">
</head>
<body>
    <h1><a href="Main.html">HR HOME</a>
        <div class="title_d">열정만 가득한 나만의 홈페이지</div>
    </h1>
    <header>
        <!-- 세로형 메뉴바 -->
        <nav class="active">
            <ul class="menu1">
                <li><a href="전혜린.html">전혜린</a></li>
                <li><a href="MBTI.html">MBTI</a></li>
                <li><a href="기타.html">기타</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrap">
    <section class="backimg">
    </br>
        <img src="../Content/images/본인사진.jpg" alt="본인사진">
    </br>
        <table>
            <tr>
                <td class="content">이름</td>
            </tr>
            <tr>
                <td class="detail">전혜린</td>
            </tr>
            <tr>
                <td class="content">생년월일</td>
            </tr>
            <tr>
                <td class="detail">1998년 01월 12일</td>
            </tr>
            <tr>
                <td class="content">주소</td>
            </tr>
            <tr>
                <td class="detail">서울특별시 종로구 숭인동</td>
            </tr>
            <tr>
                <td class="content">회사</td>
            </tr>
            <tr>
                <td class="detail">모스티소프트</td>
            </tr>
            <tr>
                <td class="content">전화번호</td>
            </tr>
            <tr>
                <td class="detail">010-9718-3637</td>
            </tr>
            <tr>
                <td class="content">좌우명</td>
            </tr>
            <tr>
                <td class="detail">아무것도 하기 싫지만 해야 된다</td>
            </tr>
        </table>
    </br>
    </section>
    <footer>
        <nav>
            <a href="https://blog.naver.com/wjs3673">Blog</a>
            <a href="https://github.com/wjs3673/Portfolio">Github</a>
        </nav>
        <p>
            <span>저자 : 전혜린</span><br/>
            <span>이메일 : hrjeon@Mostisoft.com</span><br/>
            <span>Copyright 2022. hrjeon. All Rights Reserved.</span><br/>
        </p>
    </footer>
</div>
</body>
</html>