h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

form {
    text-align: center;
}
button{
    width: 80px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    background-color: #0f4c81;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 1000px;
}
hr{
    border-color: #0f4c81;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
td {
    padding-bottom: 30px;

}
input[type="text"] {
    height: 40px;
    width: 400px;
    border-radius: 1000px;
    border-color: #0f4c81;
    padding-left: 15px;
}
input[type="button"] {
    border: none;
    color: #0f4c81;
    font-weight: bold;
    cursor: pointer;
}
#todo {
    text-align: left;
    padding-right: 400px;
}